# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------

__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/

.python-version

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# -----------------------------------------------------------------------------
# Build
# -----------------------------------------------------------------------------

build/
dist/
site/

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------

.vscode/
.idea/
*.swp
*.swo

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Environment
# -----------------------------------------------------------------------------

.env
.env.*
!.env.example

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------

*.sqlite
*.sqlite3

# -----------------------------------------------------------------------------
# Node / React
# -----------------------------------------------------------------------------

app/node_modules/
app/dist/
app/.vite/

# -----------------------------------------------------------------------------
# macOS / Linux
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db

#custom for my project architecture
workspace/
run_*
docs/_build